@model List<DijitalCard.Model.Platform>
@{
    ViewBag.Title = "Ana Sayfa";
}

<div class="avatar">
    <img src="https://d2n9ha3hrkss16.cloudfront.net/uploads/stage/stage_image/126409/optimized_large_thumb_stage.jpg" width="150" height="150" alt="t" title="t" />
</div>
<div class="info">
    <h1>Ata Tural</h1>
    <p>Video Editör</p>
</div>

<div class="row">
    <div class="col-6">
        <a href="https://instagram.com/okodemir0">
            <div class="platform_image">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/768px-Instagram_logo_2016.svg.png" width="150" height="150" alt="t" title="t" />
            </div>
            <p>Instagram</p>
        </a>
    </div>
    <div class="col-6">
        <a href="https://instagram.com/okodemir0">
            <div class="platform_image">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/YouTube_social_white_squircle.svg/1200px-YouTube_social_white_squircle.svg.png" width="150" height="150" alt="t" title="t" />
            </div>
            
            <p>Youtube</p>
        </a>
    </div>
    <div class="col-6">
        <a href="https://instagram.com/okodemir0">
            <div class="platform_image">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Twitter-logo.svg/1200px-Twitter-logo.svg.png" width="150" height="150" alt="t" title="t" />
            </div>
            
            <p>Twitter</p>
        </a>
    </div>
    <div class="col-6">
        <a href="https://instagram.com/okodemir0">
            <div class="platform_image">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/768px-Instagram_logo_2016.svg.png" width="150" height="150" alt="t" title="t" />
            </div>
            <p>Instagram</p>
        </a>
    </div>
    <div class="col-6">
        <a href="https://instagram.com/okodemir0">
            <div class="platform_image">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/768px-Instagram_logo_2016.svg.png" width="150" height="150" alt="t" title="t" />
            </div>
            <p>Instagram</p>
        </a>
    </div>
    <div class="col-6">
        <a href="https://instagram.com/okodemir0">
            <div class="platform_image">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/YouTube_social_white_squircle.svg/1200px-YouTube_social_white_squircle.svg.png" width="150" height="150" alt="t" title="t" />
            </div>
            
            <p>Youtube</p>
        </a>
    </div>
    <div class="col-6">
        <a href="https://instagram.com/okodemir0">
            <div class="platform_image">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Twitter-logo.svg/1200px-Twitter-logo.svg.png" width="150" height="150" alt="t" title="t" />
            </div>
            
            <p>Twitter</p>
        </a>
    </div>
    <div class="col-6">
        <a href="https://instagram.com/okodemir0">
            <div class="platform_image">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/768px-Instagram_logo_2016.svg.png" width="150" height="150" alt="t" title="t" />
            </div>
            <p>Instagram</p>
        </a>
    </div>
    <div class="col-6">
        <a href="https://instagram.com/okodemir0">
            <div class="platform_image">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/768px-Instagram_logo_2016.svg.png" width="150" height="150" alt="t" title="t" />
            </div>
            <p>Instagram</p>
        </a>
    </div>
    <div class="col-6">
        <a href="https://instagram.com/okodemir0">
            <div class="platform_image">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/YouTube_social_white_squircle.svg/1200px-YouTube_social_white_squircle.svg.png" width="150" height="150" alt="t" title="t" />
            </div>
            
            <p>Youtube</p>
        </a>
    </div>
    <div class="col-6">
        <a href="https://instagram.com/okodemir0">
            <div class="platform_image">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Twitter-logo.svg/1200px-Twitter-logo.svg.png" width="150" height="150" alt="t" title="t" />
            </div>
            
            <p>Twitter</p>
        </a>
    </div>
    <div class="col-6">
        <a href="https://instagram.com/okodemir0">
            <div class="platform_image">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/768px-Instagram_logo_2016.svg.png" width="150" height="150" alt="t" title="t" />
            </div>
            <p>Instagram</p>
        </a>
    </div>
</div>